<aside class="sidebar">
  <div class="brand">
    <div class="brand-logo">I</div>

    <div class="brand-text">
      <h2>inventra</h2>
      <p>Smart Inventory</p>
    </div>
  </div>

  <nav class="menu">
    @for (item of menu; track item.label) {
      @if (canShow(item)) {
        @if (item.children) {
          <div class="menu-group">
            <a
              class="menu-item menu-parent"
              [routerLink]="getParentRoute(item.label)"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="openedMenu = item.label"
            >
              <span class="material-symbols-rounded menu-icon">
                {{ item.icon }}
              </span>

              <span class="menu-label">
                {{ item.label }}
              </span>

              <span class="material-symbols-rounded arrow">
                {{ openedMenu === item.label ? 'expand_less' : 'expand_more' }}
              </span>
            </a>

            @if (openedMenu === item.label) {
              <div class="submenu">
                @for (child of item.children; track child.label) {
                  <a
                    class="submenu-item"
                    [routerLink]="child.route"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                  >
                    <span class="material-symbols-rounded">
                      {{ child.icon }}
                    </span>

                    {{ child.label }}
                  </a>
                }
              </div>
            }
          </div>
        } @else {
          <a
            class="menu-item"
            [routerLink]="item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="material-symbols-rounded menu-icon">
              {{ item.icon }}
            </span>

            <span class="menu-label">
              {{ item.label }}
            </span>
          </a>
        }
      }
    }
  </nav>

  <button class="logout-btn" type="button" (click)="logout()">
    <span class="material-symbols-rounded">logout</span>
    <span>Logout</span>
  </button>
</aside>