.topbar {
  height: 76px;
  padding: 0 28px;

  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(14px);

  border-bottom: 1px solid #ece8de;
  border-radius: 0 0 22px 22px;

  box-shadow:
    0 8px 30px rgba(17, 24, 39, 0.04);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-left,
.top-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icon-btn {
  width: 38px;
  height: 38px;

  border: none;
  background: transparent;
  border-radius: 12px;

  cursor: pointer;
  color: #4b5563;
  position: relative;

  display: grid;
  place-items: center;
}

.icon-btn:hover {
  background: #f6f1e7;
}

.divider {
  color: #c3c0b8;
}

.small-home {
  font-size: 19px;
  color: #9ca3af;
}

.search {
  width: 310px;
  height: 42px;

  padding: 0 14px;

  border-radius: 14px;
  border: 1px solid #e5e2da;

  background: #ffffff;

  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  width: 100%;

  border: none;
  outline: none;
  background: transparent;

  color: #111827;
  font-weight: 500;
}

.search span {
  color: #6b7280;
}

.notification small {
  position: absolute;
  top: 2px;
  right: 2px;

  width: 18px;
  height: 18px;

  border-radius: 50%;

  background: #f7d37b;
  color: #111827;

  display: grid;
  place-items: center;

  font-size: 11px;
  font-weight: 800;
}

.profile {
  min-width: 190px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 7px 10px;

  border-radius: 18px;

  transition: 0.2s ease;
}

.profile:hover {
  background: #f7f3e8;
}

.avatar {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  background:
    linear-gradient(
      135deg,
      #ffe9ad 0%,
      #f3cb67 100%
    );

  color: #111827;

  display: grid;
  place-items: center;

  font-weight: 800;
  font-size: 16px;

  box-shadow: 0 8px 18px rgba(217, 154, 0, 0.16);
}

.profile-info {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  flex: 1;
}

.profile-info strong {
  font-size: 14px;
  font-weight: 800;
  color: #111827;
  white-space: nowrap;
}

.profile-info span {
  margin-top: 5px;

  font-size: 12px;
  font-weight: 600;

  color: #7b8494;
  white-space: nowrap;
}

.profile > .material-symbols-rounded {
  font-size: 20px;
  color: #6b7280;
}